p {
    padding-left: 100px;
    color: rgb(70, 66, 66);
}

.priceF{
    color: rgb(170, 165, 165);;
}

.name {
    color: rgb(70, 66, 66);
    font-size: 30px;
    font-weight: bold;
}

.m6r {
    padding-left: 55px;
    color: rgb(170, 165, 165);
}

.motoTaxi {
    border: 3px solid black;
    background-image: url("https://content2.kawasaki.com/ContentStorage/KMC/Products/8523/fcc32975-c73d-49d9-93a0-553c4dfafd5b.jpg?w=1920");
    background-position: center;
}

.motoBaixo {
    border: 3px solid black;
    background-image: url("https://content2.kawasaki.com/ContentStorage/KMC/Products/8507/34772d3c-ecd5-492e-a373-3ad7d6c3a030.jpg?w=1920");
    background-position: center;
}